aiobotocore==2.12.1
aiohttp==3.9.3
aioitertools==0.11.0
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
attrs==23.2.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
# botasaurus==4.0.9
# botasaurus-proxy-authentication==1.0.12
# botocore==1.34.51
capsolver-extension-python==1.0.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
chrome-extension-python==1.0.1
chromedriver-autoinstaller-fix==1.0.6
click==8.1.7
cloudscraper==1.2.71
colorama==0.4.6
dnspython==2.6.1
ecdsa==0.18.0
email_validator==2.1.1
fastapi==0.110.0
frozenlist==1.4.1
fsspec==2024.2.0
greenlet==3.0.3
h11==0.14.0
idna==3.6
javascript-fixes==1.1.21
jmespath==1.0.1
joblib==1.3.2
jose==1.0.0
kafka-python==2.0.2
loguru==0.7.2
motor==3.4.0
multidict==6.0.5
numpy==1.26.4
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.1
passlib==1.7.4
playwright==1.42.0
psutil==5.9.8
pyasn1==0.6.0
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pyee==11.0.1
pymongo==4.6.3
pyparsing==3.1.2
pyshopee==1.4.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-jose==3.3.0
python-multipart==0.0.9
pytz==2024.1
requests==2.31.0
requests-toolbelt==1.0.0
rsa==4.9
# s3fs==2024.2.0
# selenium==4.5.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
starlette==0.36.3
trio==0.25.0
trio-websocket==0.11.1
typing_extensions==4.10.0
tzdata==2024.1
undetected-chromedriver @ git+https://www.github.com/ultrafunkamsterdam/undetected-chromedriver@0aa5fbe252370b4cb2b95526add445392cad27ba
urllib3==1.26.18
uvicorn==0.29.0
websockets==12.0
win32-setctime==1.1.0
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
